<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" [formControl]="searchControl" placeholder="Search Show">
            </div>
            <div class="col-2">
                <button mat-raised-button type="button"  [routerLink]="['/backstage/show/new']">New Show</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-selection-list #shows>
                    <mat-list-option *ngFor="let show of shows">
                        <div class="col-2">{{ show.date | date: "dd/MM/yyyy" }}</div>
                        <div class="col-3">{{ show.artistName }}</div>
                        <div class="col-3">{{ show.venue }}</div>
                        <div class="col-2"><button mat-raised-button color="warn" (click)="goToShowForm(show._id)">Edit</button></div>
                        <div class="col-2"><button mat-raised-button (click)="deleteShow(show)">Delete</button></div>
                    </mat-list-option>
                </mat-selection-list>
                <!-- <div class="row show-row" *ngFor="let show of shows">
                    <div class="col-2">{{ show.date | date: "dd/MM/yyyy" }}</div>
                    <div class="col-3">{{ show.artistName }}</div>
                    <div class="col-3">{{ show.venue }}</div>
                    <div class="col-2"><button mat-raised-button color="warn" (click)="goToShowForm(show._id)">Edit</button></div>
                    <div class="col-2"><button mat-raised-button (click)="deleteShow(show)">Delete</button></div>
                </div> -->
            </div>
        </div>
    </div>
</div>