.card {
    /* color: black; */
    border: none;
    border-radius: 12px;
    margin: 1rem;
    box-shadow: 0px 4px 4px black;
}

img {
    border-radius: 12px;
    transition: 0.3s;
}

.card-img-overlay {
    background-color: #282828;
    margin-top: 99%;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    transition: 0.3s;
}

.card-img-overlay:hover {
    margin-top: 92%;
}