.masthead-brand {
  width: 50pt;
  height: 50pt;
}

.nav-item {
  padding-right: 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.2rem;
  letter-spacing: 0.044rem;
  text-transform: uppercase;
}