<div class="inner">
  <nav class="nav navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"><img class="masthead-brand" src="assets/logo_trans_white.png"></a>    
      <a class="nav-item" [routerLink]="['/agenda']" routerLinkActive="active-link">Agenda</a>
      <a class="nav-item" [routerLink]="['/artists']" routerLinkActive="active-link">Artists</a>
      <a class="nav-item" [routerLink]="['/contact']" routerLinkActive="active-link">Contact</a>
    </div>
  </nav>
</div>  

