<div class="container">
    <div class="row align-items-center">
        <div class="col-4 image">
            <img src="../../../assets/Jay Marten/PressPic.jpg" class="img-fluid rounded">
        </div>
        <div class="col-8">
            Jay Marten (27) is een talentvolle singer/songwriter en performer die samen met zijn liveband vibrerende rock met een hedendaagse kijk op het leven maakt. Geïnspireerd door bands zoals Steppenwolf, The Doobie Brothers, Led Zeppelin en Creedence Clearwater Revival schrijft en neemt Jay Marten songs op in zijn home-studio. De psychedelische touch en vibrerende grooves laten je voelen alsof je meegenomen wordt op een roadtrip in een auto met verchroomde bumpers, lange flared jeans, 8-track tapes en de liefde van je leven naast je terwijl je de zakkende zomer zon tegemoet rijdt.
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-8">
            Ara is een Tilburgse singer-songwriter van Armeense afkomst. Geïnspireerd door westerse en oosterse folk invloeden, combineert hij fingerstyle gitaar met meeslepende melodieën en poëtische teksten. Zijn sound is te vergelijken met Ben Howard, Hozier en Damien Rice. 

In 2021 vertrok Ara naar California om zijn eigen materiaal uit te testen als straatmuzikant. In de zomer van 2022 keerde hij terug en begon hij op Nederlandse podia te spelen. Met lokale aandacht van Omroep Tilburg, een Pophuis traject en coaching van o.a. Maarten van Damme (Racoon) begint Ara een impact te maken op een regionale muziekscene.

Ara werkt momenteel aan zijn debuut EP: From Embers - Augustus 2023. 

        </div>
        <div class="col-4 image">
            <img src="../../../assets/Ara/Ara-PressPic.png" class="img-fluid rounded">        
        </div>
    </div>
</div>
