<app-header></app-header>
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 card" (click)="goToArtist()">
            <div class="row align-items-center">
                <div class="card-body col-8" >
                    <h1 class="card-title">New Signing: meet Ara</h1>
                    <p class="card-text"></p>
                </div>
                <img src="../../../assets/Ara/Ara-PressPic.png" class="card-img-top col-4" alt="Card image cap">
            </div>
            
            
        </div>
    </div>
</div>
