<div class="container">
    <div class="row ">
        <div class="col-xs-12 col-4 "><img src="{{artist?.pressPic}}" class="img-fluid rounded"></div>
        <div class="col-xs-12 col-8 ">
            <!-- <div class="row"><div class="col-8"><h1>{{artist?.name}}</h1></div></div>
            <div class="row"><div class="col-10">{{artist?.description}}</div></div> -->
            <div class="col-xs-12 col-md-8"><h1>{{artist?.name}}</h1></div>
            <div class="col-xs-12 col-md-7">{{artist?.description}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4"><iframe style="border-radius:12px" [src]="safeSpotify" width="100%" height="480" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
        <div class="col-xs-12 col-md-8"><iframe height="480px" width="720px" [src]="safeYoutube"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div></div>
        
</div>

