/* You can add global styles to this file, and also import other style files */
/* @font-face {
  font-family: helvetica;
  src: url();
} */

@import "./font-awesome.css";

:root {
    /* --primary: #30539b;
    --primary-shadow: #223c72; */
    --primary: #1D1D1B;
    --primary-shadow: #1D1D1B;
  }

html {
  overflow-y: scroll;
}

body {
    background-color: #1D1D1B;
    color: white;
    min-height: 100%;
    font-family: helvetica;
}