<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create or update artist</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="artistForm" (ngSubmit)="save()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input cdkAutofill matInput type="text" id="name" formControlName="name">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea cdkAutofill matInput type="text" id="description" formControlName="description"></textarea>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Short Description</mat-label>
          <textarea cdkAutofill matInput type="text" id="shortDescription" formControlName="shortDescription"></textarea>
        </mat-form-field>

        
        <mat-form-field>
          <div>
            <input matInput />
    
            <button
              mat-flat-button
              color="primary"
            >
              Upload
            </button>
      
            <input
              type="file"
              id="fileInput"
              (change)="selectFile($event)"
              name="pressPic"
            />
          </div>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>spotifyPlaylist</mat-label>
          <input cdkAutofill matInput type="text" id="spotifyPlaylist" formControlName="spotifyPlaylist">
        </mat-form-field>

        <mat-form-field>
          <mat-label>youtubeLink</mat-label>
          <input cdkAutofill matInput type="text" id="youtubeLink" formControlName="youtubeLink">
        </mat-form-field>

        <mat-form-field>
          <mat-label>instagramLink</mat-label>
          <input cdkAutofill matInput type="text" id="instagramLink" formControlName="instagramLink">
        </mat-form-field>

        <mat-form-field>
          <mat-label>facebookLink</mat-label>
          <input cdkAutofill matInput type="text" id="facebookLink" formControlName="facebookLink">
        </mat-form-field>

        <mat-form-field>
          <mat-label>driveLink</mat-label>
          <input cdkAutofill matInput type="text" id="driveLink" formControlName="driveLink">
        </mat-form-field>

        <mat-form-field>
          <mat-label>urlName</mat-label>
          <input cdkAutofill matInput type="text" id="urlName" formControlName="urlName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>spotifyId</mat-label>
          <input cdkAutofill matInput type="text" id="spotifyId" formControlName="spotifyId">
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" class="button-spacing">save</button>
          <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
      </form>   
    </mat-card-content>
  </mat-card>
</div>
    <!-- <div class="col-xl-6 col-md-6 col-xs-12">
        <div class="card">
          <div class="card-header"><h4 class="card-title">Add or Edit Artist</h4></div>
          <div class="">   
            <div class="card-block">
              <form [formGroup]="artistForm" (ngSubmit)="save()">
                
                  <div class="row">
                    <div class="col-xs-12">
                      <label for="facebookLink">facebookLink</label>
                      <input type="text" id="facebookLink" formControlName="facebookLink" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label for="driveLink">driveLink</label>
                      <input type="text" id="driveLink" formControlName="driveLink" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label for="urlName">urlName</label>
                      <input type="text" id="urlName" formControlName="urlName" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <label for="spotifyId">spotifyId</label>
                      <input type="text" id="spotifyId" formControlName="spotifyId" class="form-control">
                    </div>
                  </div>
                <br>
                <div class="row" *ngIf="error">
                  Something went wrong!
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">save</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->