.container {
    padding-top: 2rem;
    justify-content: center;
}

// .card {
//     background-color: #282828;
//     padding: 2rem;
//     border-radius: 12px;
// }

// .login-card {
//   max-width: 400px;
// }

mat-card-header {
  font-size: 28px;
  margin-bottom: 1rem;
  margin-left: 0.25rem;
  color: white;
}

mat-form-field {
  width: 100%;
}

.fail {
    color: white;
    background-color: darkred;
    border-color: red;
    border: 1px;
    border-radius: 4px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}

.container-fluid {
    text-align: center;
  }
  
.masthead-brand {
  margin-top: 1rem;
  width: 50pt;
  height: 50pt;
  transition: 0.3s;
}

.masthead-brand:hover {
  opacity: 0.5;
}