<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create or update show</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="showForm" (ngSubmit)="save()">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input cdkAutofill matInput type="text" id="date" [matDatepicker]="date" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Venue</mat-label>
            <input cdkAutofill matInput type="text" id="venue" formControlName="venue">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" id="city" formControlName="city">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Artist</mat-label>
            <mat-select matNativeControl formControlName="artist">
              <mat-option *ngFor="let artist of artists" [value]="artist._id">{{artist.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Ticketlink</mat-label>
            <input matInput type="text" id="ticketLink" formControlName="ticketLink">
          </mat-form-field>
          <br/>
          <button mat-raised-button type="submit" color="primary" class="button-spacing">save</button>
          <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
      <!--
                <div class="row">
                    <div class="col-xs-12">
                        <label for="artist">artist</label>
                        <select id="artist" formControlName="artist" class="form-control">
                            <option *ngFor="let artist of artists" [value]="artist._id">{{artist.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <label for="ticketLink">Ticket Link</label>
                      <input type="text" id="ticketLink" formControlName="ticketLink" class="form-control">
                    </div>
                  </div>
                <br>
                <div class="row" *ngIf="error">
                  Something went wrong!
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">save</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                  </div>
                </div>                
              </form>
            </div>
          </div>
        </div>
      </div>
       -->
</div>
<!--  -->