<div class="inner">
    <nav class="nav navbar-default">
      <div class="container-fluid">
        <a class="nav-item" [routerLink]="['/backstage/dashboard']" routerLinkActive="active-link">Dashboard</a>
        <a class="nav-item" [routerLink]="['/backstage/artist']" routerLinkActive="active-link">Artists</a>
        <a class="nav-item" [routerLink]="['/backstage/show']" routerLinkActive="active-link">Shows</a>
        <a class="nav-item" (click)="logout()">log out</a>
      </div>
    </nav>
  </div>    
<router-outlet></router-outlet>