<div class="container">
    <div class="row align-items-center">
        <div class="col-4 image">
            <img src="../../../assets/Jay Marten/PressPic.jpg" class="img-fluid rounded">
        </div>
        <div class="col-8">
            BIO
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-8">
            Another BIO
        </div>
        <div class="col-4 image">
            <img src="../../../assets/Ara/Ara-PressPic.png" class="img-fluid rounded">        
        </div>
    </div>
</div>