<!-- <div class="card col-md-6 col-xs-12">
  <ol>
    <li>
      Are you sure you want to delete this item?
    </li>
    <li>
      <button mat-raised-button color="primary" (click)="delete()">Delete</button>
      <button mat-raised-button (click)="close()">Cancel</button>
    </li>
  </ol>
</div> -->


  <ol>
    <li>
      Are you sure you want to delete this item?
    </li>
    <li>
      <button mat-raised-button color="primary" (click)="delete()">Delete</button>
      <button mat-raised-button (click)="close()">Cancel</button>
    </li>
  </ol>