.container {
    padding-top: 2rem;
}

.card {
    background-color: #282828;
    padding: 2rem;
    border-radius: 12px;
}

.artist-row {
    padding-top: 0.25rem;   
}



input {
    background-color: #1D1D1D;
    margin-bottom: 1rem;
    border-radius: 12px;
    color: white;
}

input:focus {
    border-color: #282828;
}

.card-header {
    padding-left: 0;

}

.btn {
    border-radius: 20px;
}


.title {
    padding-bottom: 1rem;
}

label {
    padding-bottom: 0.25rem;
}

.fail {
    color: white;
    background-color: darkred;
    border-color: red;
    border: 1px;
    border-radius: 4px;
    padding: 0.25rem;
    margin-bottom: 1rem;
}
