<div class="container">
    <mat-grid-list cols="5" rowHeight="60px">
        <mat-grid-tile [colspan]="4">
            <mat-form-field style="width: 100%;">
                <mat-label>Search Artist</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Artist" #input>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <button id="new-button" style="width: 100%; height: 100%;" mat-raised-button color="primary" (click)="goToArtistForm('new')">New Artist</button>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-card>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let artist" (click)="goToArtistForm(artist.urlName)">{{artist.name}}</td>
            </ng-container>
            <ng-container matColumnDef="spotifyId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Spotify ID</th>
                <td mat-cell *matCellDef="let artist" (click)="goToArtistForm(artist.urlName)">{{artist.spotifyId}}</td>
            </ng-container>            
            <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                <td mat-cell *matCellDef="let artist">
                    <button mat-icon-button aria-label="expand row" (click)="deleteArtist(artist)">
                    <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr 
                mat-row 
                *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of shows"></mat-paginator>
        </table>
    </mat-card>
</div>


<!-- <div class="container">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" [formControl]="searchControl" placeholder="Search Artist">
            </div>
            <div class="col-2">
                <a type="button" class="btn btn-info d-block" [routerLink]="['/backstage/artist/new']">New Artist</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row artist-row" *ngFor="let artist of artists">
                    <div class="col-8">{{artist.name}}</div>
                    <div class="col-2"><a class="btn btn-info d-block" (click)="goToArtistForm(artist.urlName)">Edit</a></div>
                    <div class="col-2"><a class="btn btn-info d-block" (click)="deleteArtist(artist)">Delete</a></div>
                </div>
            </div>
        </div>
    </div>
</div> -->