<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-10">
                <input class="form-control" type="text" [formControl]="searchControl" placeholder="Search Artist">
            </div>
            <div class="col-2">
                <a type="button" class="btn btn-info d-block" [routerLink]="['/backstage/artist/new']">New Artist</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row artist-row" *ngFor="let artist of artists">
                    <div class="col-8">{{artist.name}}</div>
                    <div class="col-2"><a class="btn btn-info d-block" (click)="goToArtistForm(artist.urlName)">Edit</a></div>
                    <div class="col-2"><a class="btn btn-info d-block" (click)="deleteArtist(artist)">Delete</a></div>
                </div>
            </div>
        </div>
    </div>
</div>